extends template

block config
  - var pageTitle = 'Imgur API：upload, load 上傳、讀取 範例'
  - var description = 'Auguston 針對Imgur api中的upload、load功能製作的範例。'
  - var fburl = 'https://auguston.github.io/imgur-api-upload-load/sample.html'
  - var fbImg = 'https://auguston.github.io/imgur-api-upload-load/contents/img/fb.jpg'
  - var keywords = 'imgur,api,upload,load'

block main
  .chapter-title
    h1 Imgur API：upload, load 上傳、讀取 範例
    p 針對Imgur api中的upload、load功能做示範，以及心得筆記。
    p Demonstrate the upload and load functions in the Imgur api and take notes.
    p
      a(href="index.html") 心得筆記
      span  | 
      a(href="sample.html") 範例
  
  #upload.contents
    .loading-mask(:class="{ show: toggleLoading }")
      .cubes
        .sk-cube.sk-cube1
        .sk-cube.sk-cube2
        .sk-cube.sk-cube3
        .sk-cube.sk-cube4
        .sk-cube.sk-cube5
        .sk-cube.sk-cube6
        .sk-cube.sk-cube7
        .sk-cube.sk-cube8
        .sk-cube.sk-cube9

    h2 Upload 上傳照片 範例
    form
      .input-block
        label(for='upload') 選擇上傳圖檔
        input#upload.form-control-file(type="file", accept="image/*", @change="showFile")
    
      div(v-show="fs.name != ''")
        h5 圖片預覽 
          small {{ fs.size }}
        img.thumbnail(:src="fs.thumbnail")
        p {{ fs.name }}
      
      .input-block
        label(for="title") 圖片名稱：
        input#title.form-control(type="text", v-model="title", @keyup.13="submit", required)
      
      .input-block
        label(for="des") 圖片描述：
        input#des.form-control(type="text", v-model="des", @keyup.13="submit", required)

      .btn-wrap
        a.btn(href="#", @click.prevent="submit") 上傳

    hr

  section#list
    h2 上傳的圖片都會顯示在這
    .lost
      .lost-sizer
      .lost-items(v-for="l in list")
        a.card(:href="l.link", target="_blank")
          img(:src="l.link", :alt="l.title")
          .card-body
            h5(v-text="l.title")
            p(v-text="l.description")

block js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js")
  script.
    const id = '\x66\x31\x37\x65\x38\x65\x31\x32\x31\x39\x39\x34\x32\x64\x33';
    const token = '\x36\x61\x34\x34\x30\x35\x30\x63\x31\x34\x66\x61\x34\x33\x34\x66\x61\x65\x36\x39\x39\x34\x38\x35\x61\x39\x61\x33\x34\x62\x61\x33\x63\x35\x62\x36\x66\x64\x36\x62';
    const album = '\x46\x4a\x54\x52\x5a\x70\x43';
    const user = '\x61\x75\x67\x75\x73\x74\x75\x73\x30\x38\x31\x38';

    //- upload
    var upload = new Vue({
      el: '#upload',
      data: {
        album: album,
        file: null,
        fs: {
          base: null,
          name: '',
          thumbnail: null,
          size: null
        },
        title: '',
        des: '',
        toggleLoading: false
      },
      methods: {
        showFile(e) {
          this.file = e.target.files[0];

          this.fs.name = this.file.name;
          this.fs.size = Math.floor(this.file.size * 0.001) + 'KB';
          this.fs.thumbnail = window.URL.createObjectURL(this.file);
          this.title = this.fs.name.split('.')[0];
        },
        submit() {          
          if(this.fs.name === '') {
            alert('請選擇要上傳的圖片');
            return false;
          }
          if(this.title === '' || this.des === '') {
            alert("圖片名稱、圖片描述 皆為必填");
            return false;
          }
          else {
            const self = this;
            this.toggleLoading = true;

            setTimeout(function(){
              let settings = {
                async: false,
                crossDomain: true,
                processData: false,
                contentType: false,
                type: 'POST',
                url: 'https://api.imgur.com/3/image',
                headers: {
                  Authorization: 'Bearer ' + token,
                  Accept: 'application/json'
                },
                mimeType: 'multipart/form-data'
              };

              let form = new FormData();
              form.append("image", self.file);
              form.append("name", "augustus");
              form.append("title", self.title);
              form.append("description", self.des);
              form.append("album", album);

              settings.data = form;

              $.ajax(settings).done(function(res) {
                alert('上傳完成！');
                location.reload();
              });
            }, 500);

          }
        }
      }
    });

    //- load album
    var list = new Vue({
      el: '#list',
      data: {
        user: user,
        list: null,
        settingsList: {
          "async": true,
          "crossDomain": true,
          "url": "https://api.imgur.com/3/album/" + album + "/images",
          "method": "GET",
          "headers": {
            "Authorization": 'Bearer ' + token
          }
        }
      },
      mounted() {
        const self = this;
        $.ajax(self.settingsList).done(function(res) {
          self.list = res.data.reverse();
          $(window).on('load', function() {
            $('.lost').isotope({
              itemSelector: '.lost-items',
              masonry: {
                columnWidth: '.lost-sizer'
              }
            });
          });
        });
      }
    });